---
import '@styles/global.css';

import Nav from "@components/Nav.astro";
import Footer from "@components/Footer.astro";

interface Props {
    title: string;
    page?: 'home' | 'other';
    backHref?: string;
    backText?: string;
    navBorder?: boolean;
}

const { title, page = 'other', backHref = '/', backText = '← Return Home', navBorder = true } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>
<body class="font-body">
    <div class="min-h-screen w-full flex justify-center p-6 md:p-16">
        <main class="w-full max-w-2xl">
            <Nav page={page} backHref={backHref} backText={backText} navBorder={navBorder} />
            <slot />
            <Footer />
        </main>
    </div>
</body>
</html>
